/* Default DevCorner Style Setting */

/* Fonts */
@font-face {
    font-family: 'Lobster'; /*a name to be used later*/
    src: url('../font/Lobster_1.4.otf'); /*URL to font*/
}

:root{
  --dc-: #28a745; /* #28a745 */
  --rgba-dc-: rgba(40, 167, 69, 0.5);
  --rgba-wh-: rgba(255, 255, 255, 0.5);
  --gr-: #515151;
  --wh-: #fefefe;
  --sg-: #f7f7f7;
  --lg-: #b9b9b9;
  --shadow1-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  --shadow2-: 0 0 8px rgba(0,0,0,0.6);
  --shadow3-: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  --text-sh-: 2px 5px 2px rgba(33,33,33,0.25);
  --card-: perspective(1000px) rotateY(-20deg) translateX(-20px);
}

.fa-code{
  color: var(--dc-);
}

button::-webkit-focus-inner{
  border: 0;
}
button::-moz-focus-inner{
  border: 0;
}
button::-o-focus-inner{
  border: 0;
}
button::-ms-focus-inner{
  border: 0;
}

.center{
  width: 50%;
  margin: 10vh auto 15vh auto;
  text-align: center;
}

.center p:last-child{
  margin: 1em auto 2em;
  font-family: Roboto;
  font-size: 1.2em;
  color: var(--dc-);
  background: rgba(255,255,255,0.8);
  width: 280px;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.brand{
  color: var(--gr-);
  font-family: Roboto;
  font-size: 3em;
  text-shadow: var(--text-sh-);
  margin: 0 auto;
  padding: 0;
}

.slogan{
  color: var(--gr-);
  font-family: Roboto;
  font-size: 1.2em;
  text-shadow: var(--text-sh-);
  margin: 0 auto;
  padding: 0;
}

body{
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

a:link{
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#nav {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dc-);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

#nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-family: Roboto;
}

#nav a:hover {
  color: var(--dc-);
  background-color: var(--sg-);
  box-shadow: var(--shadow1-);
}

.section {
  height: 1000px;
  padding: 30px 140px;
}

#section-1 {
  background: url('../img/img_05.jpeg') no-repeat 50% 50%;
  background-size: cover;
}

#section-2 {
  background: url('../img/Slides/img_01.jpeg') no-repeat 50% 50%;
  background-size: cover;
}

#section-3 {
  background: url('../img/Slides/img_07.jpeg') no-repeat 50% 50%;
  background-size: cover;
}

h1 {
  margin: 0 0 20px -40px;
  font-family: Lobster;
  color: var(--dc-);
  background-color: var(--rgba-wh-);
  width: 172px;
  padding-left: 40px;
  border: 2px solid var(--dc-);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: var(--shadow1-);
}

.section a {
  color: var(--gr-);
  border: 2px solid var(--dc-);
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
}

.section a:hover {
  color: var(--sg-);
  background-color: var(--dc-);
}

#section-1 a:hover:after,
#section-2 a:hover:after{
  content: ' ↓';
  color: var(--sg-);
  font-weight: 900;
  border-left: 2px solid var(--sg-);
  padding: 5px 0 5px 5px;
  margin-left: 10px;
}

.section a:last-child:hover:after{
  content: ' ↑';
  color: var(--sg-);
  font-weight: 900;
  border-left: 2px solid var(--sg-);
  padding: 5px 0 5px 5px;
  margin-left: 10px;
}



















/* End */
